
<div class="container">
    <div class="content">
        <h2 style="color:lightseagreen;">LIST OF DOCTORS AND THEIR DEPARTMENT</h2>
        <div>
            <input type="text" placeholder="Search By Department or Doctor's Name" style="color:#f5f5f5;">
        </div>
        <br><br>
        <table class="table" border="none">
            <thead>
                <tr>
                    <th>Name of Doctor</th>
                    <th>Department</th>
                    <th>Consultant Fee</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Attribute">Ananya</td>
                    <td data-label="Values">ENT</td>
                    <td data-label="Values">600.00</td>
                </tr>
                <tr>
                    <td data-label="Attribute">Mohit</td>
                    <td data-label="Values">General Medicine</td>
                    <td data-label="Values">400.00</td>
                </tr>
                <tr>
                    <td data-label="Attribute">Raju</td>
                    <td data-label="Values">Pediatrician</td>
                    <td data-label="Values">500.00</td>
                </tr>
                <tr>
                    <td data-label="Attribute">Abid</td>
                    <td data-label="Values">Cardiologist</td>
                    <td data-label="Values">1500.00</td>
                </tr>
                <tr>
                    <td data-label="Attribute">Kavitha</td>
                    <td data-label="Values">Psychiatrist</td>
                    <td data-label="Values">900.00</td>
                </tr>

                
                
                
    
            </tbody>
        </table>
        
    </div>
</div>
