

<div class="container">
    <div class="content">
        <h2 style="color:lightseagreen;">PAYMENT REQUESTS</h2>
        
        <br><br>
        <table class="table" border="none">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Patient ID</th>
                    <th>Doctor Name</th>
                    <th>Consultant Fee</th>
                    <th>status</th>
                    <th>Generate Receipt and Upload</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Attribute">1</td>
                    <td data-label="Values">Rahul09</td>
                    <td data-label="Values">Dr. Ananya</td>
                    <td data-label="Attribute">600.00</td>
                    <td data-label="Values"><input type="text" placeholder="Verified" style="border:none;"></td>
                    <td data-label="Values"><input type="text" placeholder="Done" style="border:none;"></td>
                </tr>
               

                
                
                
    
            </tbody>
        </table>
        
    </div>
</div>
