

<div class="container">
    <div class="content">
        <h3 style="color:lightseagreen;">VIEW APPOINMENTS</h3><br>
        
            <h6>11/01/2023, Wednesday</h6>
            
        
        
        <table class="table" border="none">
            <thead>
                <tr>
                    <th>P_ID</th>
                    <th>Name</th>
                    <th>Schedule</th>
                    <th>Status</th>
                    <th>cancel</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    
                    <td data-label="Values">Rahul09</td>
                    <td data-label="Values">Rahul</td>
                    <td data-label="Values">Wednesday(2:30PM)</td>
                    <td data-label="Values">Confirmed</td>
                    <td data-label="Values"><a href=""><i class="fa fa-ban" aria-hidden="true"></i></a></td>
                </tr>
                
                
    
            </tbody>
        </table>
        <h6>13/01/2023, Friday</h6>
            
        
        
        <table class="table" border="none">
            <thead>
                <tr>
                    <th>P_ID</th>
                    <th>Name</th>
                    <th>Schedule</th>
                    <th>Status</th>
                    <th>cancel</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    
                    <td data-label="Values">Meena01</td>
                    <td data-label="Values">Meena</td>
                    <td data-label="Values">Friday(12:30PM)</td>
                    <td data-label="Values">Cancelled</td>
                    <td data-label="Values"><a href=""><i class="fa fa-ban" aria-hidden="true"></i></a></td>
                </tr>
                
                
    
            </tbody>
        </table>
        
    </div>
</div>